<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/dashboard.css">
    <title>Card Items</title>
</head>
<body>
    <div class="w-full min-h-screen bg-blue-50">
        <h1 class="font-bold text-xl text-center">This is my Example Page using TailwindCSS</h1>
        <div class="flex flex-wrap">
            {% for x in range(4) %}
            <div class="flex flex-col bg-white rounded-lg shadow-md w-full m-3 overflow-hidden sm:w-30 md:w-1/4 lg:w-1/4">
                <div class="flex items-center justify-center h-40">
                    <img src="{{ url_for('static', filename='images/telur organik.jpg') }}" class="h-20" alt="">
                </div>
                <div class="text-center px-2">
                    <h2 class="font-bold text-xl pb-2">Telur Organik</h2>
                    <p class="text-lg">Rp 20.000</p>
                </div>
                <div class="flex justify-center pb-3">
                    <a href="#" class="bg-blue-500 text-white p-2 rounded-full hover:bg-blue-700 transition-all duration-600">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
                        </svg>
                    </a>
                </div>
            </div>
            {% endfor %}

            <!-- Add more card items here -->
        </div>
    </div>
    
    

</body>
</html>